<%= link_to 'Atrás', @project, class: 'btn btn-secondary mb-3' %>
<div class="card">
  <div class="card-body">
    <h2 class='card-title mb-4'>
      <span>Editar la tarea</span>
    </h2>

    <%= render 'form' %>
  </div>
</div>
